@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --main-bg-color: #050411;
  --main-title-color: #FF9FDD;
  --paragraph-color: #17A8B4;
  --sale-price-color: red;
  --text-color: white;
  --offer-color: #F1C374;
  --gray-color: #828282;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: var(--main-bg-color);
  scroll-padding-top: 100px;
}

.bg-main-bg-color {
  background-color: var(--main-bg-color);
}

.text-paragraph {
  color: var(--paragraph-color);
}



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .md\:block {
    display: block !important;
  }
  
  .md\:hidden {
    display: none !important;
  }
}

html {
  font-size: 18px;
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .text-description {
    font-size: 14px; 
  }

  .mainTitles, .contentDisplay-subtitles, .hero-title, .content-block {
    font-size: 20px; 
  }

  .offerTitle, .offerSubTitle, .countdown, .originalPrice, .salePrice {
    font-size: 16px; 
  }
}

@layer utilities { 
  .cursor-pointer {
    cursor: pointer;
  }

  .hero-map {
    @apply absolute top-0 left-0 w-full h-full md:h-screen md:w-full bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60 z-[-1];
  }

  .list-item {
    @apply flex items-center justify-center;
  }
  
  .list-item-icon {
    @apply w-5 h-5 mr-2 text-green-500;
  }
  
  .list-item-text {
    @apply text-left;
  }

  .w-full {
    width: 100%; 
  }

  .h-full {
    height: auto; 
  }

  .object-cover {
    object-fit: cover; 
  }

  .text-description {
    @apply text-base text-white mt-4;
  }

  .contentDisplay-subtitles {
    @apply text-2xl font-bold text-main-title-color mt-0;
  }

  .mainTitles {
    @apply text-4xl font-bold text-main-title-color mt-0;
  }

  .specialOffer {
    @apply text-white text-center py-5;
  }

  .offerTitle {
    @apply text-offer-color text-5xl font-bold;
  }

  .offerSubTitle, .countdown, .originalPrice, .salePrice {
    @apply text-3xl font-bold;
  }

  .salePrice {
    @apply text-sale-price-color mt-2;
  }

  .camp-quote, .feature-phone, .get-app, .hide-scrollbar {
    @apply hidden; 
  }
}
